{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Ajouter un engrenage{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- formulaire d'ajout engrenage -->
<form method="post">
  <label for="name">Nom de l'engrenage</label>
  <input name="name" id="name" value="{{ request.form['name'] }}" required>
  <label for="description">Description de l'engrenage</label>
  <textarea name="description" id="description">{{ request.form['description'] }}</textarea>
  <label for="advantages">Avantages de l'engrenage</label>
  <textarea name="advantages" id="advantages">{{ request.form['advantages'] }}</textarea>
  <label for="disadvantages">Desavantages de l'engrenage</label>
  <textarea name="disadvantages" id="disadvantages">{{ request.form['disadvantages'] }}</textarea>
  <input type="submit" value="Save">
</form>
</form>
{% endblock %}