<link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">

{% extends 'base.html' %}
{% block header %}
<h1 id="edit">{% block title %}Edition d'un engrenage{{ gear['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- to do -->
<form method="post" enctype="multipart/form-data">
  <p>
    <label for="name">Nom</label>
    <input name="name" id="name" value="{{ request.form['name'] or gear['name'] }}" required>
  </p>
  <p>
    <label for="description">Description </label>
    <textarea name="description" id="description">{{ request.form['description'] or gear['description'] }}</textarea>
  </p>
  <label for="advantages">Advantages</label>
  <textarea name="advantages" id="advantages">{{ request.form['advantages'] or gear['advantages'] }}</textarea>
  </p>
  <p>
    <label for="disadvantages">Disadvantages</label>
    <textarea name="disadvantages"
      id="disadvantages">{{ request.form['disadvantages']  or gear['disadvantages']}}</textarea>
  </p>

  <button type="submit">Valider</button>
</form>
{% endblock %}