@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400&display=swap');

#titre {
    color: #a08f89;
    padding: 30px;
    text-align: center;
    font-size: 45px;
    border: 6px groove black;
    margin-bottom: 55px;
    margin-left: 120px;
    margin-right: 120px;
    background-color: #eee0d7;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30%;
    margin-left: 30%;
    text-align: center;
}

#nom {
    color: #a08f89;
    font-size: 15px;
    text-transform: uppercase;
}

.action {
    font-size: 13px;
    margin-top: 20px;
    padding-top: 20px;
}

.post {
    text-align: center;
}

.about {
    color: #b9aaa4;
    font-size: 13px;
    padding-left: 12px;
    margin-bottom: 20px;
}





@media all and (max-width :900px) {
    #titre {
        font-size: 1.5rem;
    }
}

@media all and (max-width :650px) {
    #titre {
        text-overflow: ellipsis;
        overflow: hidden;
    }
}