#edit {
    color: #a08f89;
    font-size: 35px;
    margin-bottom: 40px;
}

label {
    margin: 50px;
}

#name {
    margin: 5px;
}

#description {
    margin: 10px;
}

#image {
    margin: 10px;
}

#advantages {
    margin: 10px;
}

#disadvantages {
    margin: 10px;
    padding-bottom: 20px;
}