/* import de la police*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*Pour les déplacements de liens en liens*/
    scroll-behavior: smooth;
}


body {
    min-height: 100vh;
    background: rgb(241, 239, 239);
    padding-bottom: 20px;
}

.main-content {
    padding: 100px 110px;
}

button {
    padding: 5px 8px;
    border-radius: 2px;
    border: 2px solid #a08f89;

    transition: all 0.3s;
}

button:hover {
    padding: 5px 8px;
    border-radius: 2px;
    background-color: #a08f89;
    color: white;
    border: 2px solid black;
    transition: all 0.3s;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

label {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
}

input {
    margin-top: 8px;
    height: 30px;
    border-radius: 10px;
    font-family: sans-serif;
    margin-bottom: 10px;
    border-color: silver;
    padding: 5px 5px;
}

/*====================  NAVBAR  ======================= */
#header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: silver;
    font-size: 1.6rem;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

#toggle {
    top: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background: #a08f89;
    cursor: pointer;
    /* alignement des barres à l'intérieur */
    display: none
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #111;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #111;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
    background: palevioletred
}

#navbar {
    position: relative;
    height: 60px;
    background: #fff;
    transition: 0.75s;
    width: 0px;
    overflow: hidden;
}

#navbar.active {
    width: 660px;

}

#navbar ul {
    display: flex;
    justify-content: right;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    height: 60px;
    line-height: 60px;
    font-size: 1rem;
    padding: 0px 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #12334e;
    display: inline-block;
    transition: all 0.2s;
}

#navbar.active ul li a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#navbar ul li a:hover,
.logo:hover {
    color: #fff;
    background: #a08f89;
    transition: all 0.2s;
}


/*responsive */

@media all and (max-width:991px) {


    #toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #navbar.active {
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
        background: rgba(255, 250, 250, 0.8);
    }

    #navbar ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media all and (max-width :700px) {
    .main-content {
        padding: 100px 60px;
    }
}

/* page details */
#contenu {
    padding: 10px;
    padding-top: 25px;
    width: 100%;
    height: 100%;
    color: #b9aaa4;
}

#nom {
    color: #a08f89;
    font-size: 35px;
}

#nom_2 {
    color: #a08f89;
    font-size: 15px;
}

img {
    max-width: 300px;
}

#titre_detail {
    color: #a08f89;
    font-size: 45px;
    border-bottom: solid;
    border-radius: 1cm;
}

#header_detail {
    background-color: #eee0d7;
}