{% extends 'base.html' %}
{% block content %}
<h3 class="auth-title">Enregistrement<h3>
    <div class="login">
      <div class="box">
        <form method="post">
          <label for="username">Identifiant</label>
          <p>
            <input name="username" id="username" required>
          </p>
          <br>
          <label for="password">Mot de passe</label>
          <p>
            <input type="password" name="password" id="password" required>
          </p>
          <br>
          <button type="submit">S'enregister</button>
        </form>
      </div>
    </div>
    {% endblock %}