<!doctype html>
<title>{% block title %}{% endblock %} </title>
<link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">

<body>
  <div class="main-content">
    <header id="header">
      <a href="{{ url_for('gears.index') }}" class="logo">
        Le musée des engrenages
      </a>
      <div id="toggle"></div>
      <div id="navbar">
        <ul>
          <li><a href="# "> lien 1</a></li>
          {% if g.user %}
          <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
          <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <section>
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>