<!doctype html>
<title>Musée virtuel des engrenages </title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/create.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/update.css') }}">

<body>
  <div class="main-content">
    <header id="header">
      <a href="{{ url_for('gears.index') }}" class="logo">
        Le musée des engrenages
      </a>
      <div id="toggle"></div>
      <div id="navbar">
        <ul>
          <li><a href="http://127.0.0.1:5000/propos"> A propos</a></li>
          {% if g.user %}
          <li><a href="{{ url_for('auth.logout') }}">Déconnexion</a></li>
          {% else %}
          <li><a href="{{ url_for('auth.register') }}">Inscription</a></li>
          <li><a href="{{ url_for('auth.login') }}">Connexion</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <section>
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>